<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c87b81">  <td>19/05/17 16:27:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeApplication(org.testng.ITestResult)[pri:0, instance:script.TestnvalidLogin@685cb137]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td>  <td>main@504527234</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>19/05/17 16:27:31</td>   <td>-8755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.openApplication()[pri:0, instance:script.TestnvalidLogin@685cb137]">&gt;&gt;openApplication</td> 
<td>&nbsp;</td>  <td>main@504527234</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>19/05/17 16:27:38</td>   <td>-1905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestnvalidLogin.testinvalidLogin()[pri:0, instance:script.TestnvalidLogin@685cb137]">testinvalidLogin</td> 
  <td>main@504527234</td>   <td></td> </tr>
</table>
