<h2>Reporter output</h2><table><tr><td>Username entered </td></tr>
<tr><td>Password entered </td></tr>
<tr><td>the login button clicked </td></tr>
<tr><td>Verified invalid inputs </td></tr>
<tr><td>testinvalidLogin is paased</td></tr>
</table>